/* Estilos para el título */
h1 {
    text-align: center;
    font-size: 3vw;
    color: black; 
}

/* Estilos para el botón */
button {
    display: block;
    margin: 1vw auto;
    padding: 1vw 1vw;
    background-color: blue;
    color: #fff; 
    border: none;
    border-radius: '.3vw';
    cursor: pointer;
    font-size: 1vw;
}

button:hover {
    background-color: darkblue;
}