header{
    text-align: center;
}
body{
    background-color:blanchedalmond;
}
summary{
    text-decoration: underline;
    font-size: 1vw;
}
summary:hover{
    color: rgb(100, 0, 100);
    font-style: normal;
    font-size: 1vw;
}
li{
    font-size: 1vw;
}
.sing{
    max-width: 350px;
    max-height: 300px;
    width: 50%, auto;
    height: 50%, auto;
    display: block; 
    margin: 0; 
    font-size: 0;
    text-align: center;
}
.sing:hover{
    max-width: 400px;
    max-height: 350px;;
    width: 75%, auto;
    height: 75%, auto;
    display: block; 
    margin: 0; 
    font-size: 1vw;
    text-align: center;
}
.sing:hover .texto {
    border: 2px solid #000;
    padding: 20px;
    margin: 20px; 
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

