* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #feebcd;
}

header {
    height: 112px;
    background-color: #5A3C0C;
    display: flex;
    justify-content: center;
}

header h1 {
    color: white;
    font-size: 41px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 230px;
}

.icons-nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-nav-left .icon-flecha {
    width: 43.01px;
    height: 43px;
    transform: rotate(180deg);
}

.icons-nav-left .icon-user {
    width: 83px;
    height: 83px;
}

.icons-nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-page{
    width: 70px;
    height: 70px;
}

.container h1 {
    text-align: center;
    font-size: 71px;
    font-family: "Oswald", sans-serif;
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    margin-top: -30px;
}

.card1 img { 
    width: 280px;
    height: 336px;
    border-start-end-radius: 14px;
    border-start-start-radius: 14px;
}

.card2 img {
    width: 280px;
    height: 336px;
    border-start-end-radius: 14px;
    border-start-start-radius: 14px;
}

.card3 img {
    width: 280px;
    height: 336px;
    border-start-end-radius: 14px;
    border-start-start-radius: 14px;
}

.text1 {
    width: 280px;
    height: 285px;
    background: #FFFFFF;
    border-end-end-radius: 14px;
    border-end-start-radius: 14px;
    padding: 9px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1 p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: center;
}

.text2 {
    width: 280px;
    height: 285px;
    background: #FFFFFF;
    border-end-end-radius: 14px;
    border-end-start-radius: 14px;
    padding: 9px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2 p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: center;
}

.text3 {
    width: 280px;
    height: 285px;
    background: #FFFFFF;
    border-end-end-radius: 14px;
    border-end-start-radius: 14px;
    padding: 9px;
    margin-top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text3 p {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    justify-content: center;
}

.footer-content {
    background-color: #5A3C0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer h1 {
    color: #ffffff;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.linea {
    width: 400px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin: 20px;
}

.social-networks img {
    width: 34px;
    height: 34px;
    margin: 0 30px;
}
